[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = github@soharadesign.com
	name = Bucky
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[alias]
	ll = log --oneline
	last = log -1 HEAD --stat
	rv = remote -v
	d = diff
	dv = difftool -t kdiff3 -y
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F
	st = status -sb
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
